@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&display=swap');

:root{
    --black: #000000;
    --lightBlue: #c2d1ef;
    --white: #ffffff;
    --blue01: #3667c9;
    --mainSpacing: 0.1rem
    --mainTransition: all 0.3s linear;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Andada Pro',serif;
    color: var(--black);
    background: var(--lightBlue);
}

.navbar{
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--white);
    z-index: 1;
}

.navbar-center{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-icon{
    font-size: 1rem;
}

.navbar-cart {
    font-size: 2rem;
}

.cart-btn{
    position: relative;
    cursor: pointer;
}

.no-of-items{
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: aqua;
    padding: 0 5px;
    border-radius: 25%;
    color:darkblue;
}

.header{
    min-height: calc(100vh - 60px);
    background: url("./images/banner-2.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo{
    text-align: center;
    background: rgba(172, 178, 255, 0.8);
    display: inline-block;
    padding: 2rem;
}

.title{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
    color: white;
}

.btn-header{
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    background:blue;
    font-size: 1rem;
    border: 1px solid white;
    color: white;
    font-weight: 550;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn-header:hover{
    background: white;
    color: blue;
    border: 1px solid blue;
}

.books{
    padding: 4rem 0;
}

.sub-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.books-container {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
}

.img-container{
    position: relative;
    overflow: hidden;
}

.add{
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--lightBlue);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem, 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: all 0.3s linear;
    transform: translateX(101%);
    cursor: pointer;
}

.add:hover{
    color: var(--black);
}

.fa-shopping-cart{
    margin-right: 0.5rem;
}

.img-container:hover .add{
    transform: translateX(0);
}

.book-img{
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: all 0.3s linear;
}

.img-container:hover .book{
    opacity: 0.5;
}

.books h3{
    text-transform: capitalize;
    font-size: 1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.books h4{
    margin-top: 0.5rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    color: #3667c9;
}